<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Live Temperature</title>
    <link rel="stylesheet" href="../style/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@6.0.0/dist/echarts.min.js"></script>
  </head>

  <body>
    <div id="chartsContainer"></div>

    <button id="addMock">Add Mock Device</button>
    <script>
      document.getElementById("addMock").onclick = () => {
        fetch("/mock/start?count=1");
      };
    </script>

    <script src="../script/charts.js"></script>
  </body>
</html>
